[package]
name = "surface"
version = "0.2.2"
authors = ["Maximilian Luz <luzmaximilian@gmail.com>"]
description = "Control various aspects of Microsoft Surface devices on Linux from the Command-Line"

repository = "https://github.com/qzed/surface-control"
readme = "README.md"
license = "MIT"

edition = "2018"
build = "build.rs"


[package.metadata.deb]
maintainer = "Maximilian Luz <luzmaximilian@gmail.com>"
license-file = ["LICENSE", "0"]
extended-description = """\
Control various aspects of Microsoft Surface devices, such as
performance-modes and dGPU power, from the Command Line."""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/surface", "usr/bin/", "755"],
    ["target/surface.bash", "usr/share/bash-completion/completions/surface", "644"],
    ["target/_surface", "usr/share/zsh/vendor-completions/_surface", "644"],
    ["target/surface.fish", "usr/share/fish/completions/surface.fish", "644"],
]

[dependencies]
clap = "2.33.0"
indoc = "0.3.4"
nix = "0.15.0"
failure = "0.1.5"

[build-dependencies]
clap = "2.33.0"
indoc = "0.3.4"

[profile.release]
lto = true
codegen-units = 1
