Source: surface-control
Section: misc
Priority: optional
Maintainer: Maximilian Luz <luzmaximilian@gmail.com>
Build-Depends: build-essential, debhelper (>= 10), cargo, rustc (>= 1.34.0), libudev-dev

Package: surface-control
Architecture: amd64
Depends: libc6 (>= 2.19), libgcc1 (>= 1:4.9.2), libudev1
Description: Control various aspects of Microsoft Surface devices on Linux from the Command-Line
